@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}















input[type=text], input[type=password] {
  width: 300px;
}

iframe {
  margin: 0;
  width: max-content;
  height: max-content; 
  overflow: auto;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.initial {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.button {
  color: white;
  background-color: #4CAF50;
  border-color: #ccc;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: 6px 12px;
}





















a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#gcuBar {
  position: absolute;
  top: 30px;
  left: 40px;
  height: 130px;
  width: 30%;

}

.mobile #gcuBar {
  top: 20px;
  left: 20px;
  height: 60px;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #gcuBar{
  right: 80px;
}

body.fullscreen-enabled.mobile #gcuBar {
  right: 100px;
}

#gcuBar .icon {
  position: absolute;
  top: 5px;
  left: 5px;
  /* width: 100%;*/
  height: 100%;
}

#titleBar {
  position: absolute;
  bottom: 60px;
  left: 20px;
  /* right: 40px; */
  height: auto;
  width: auto;
  text-align: left;  
  text-align: left;
  /* background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8); */
}

.mobile #titleBar {
  left: 20px;
  bottom: 20px;
  width: auto;
}

/* If there is a fullscreen button the title bar must make space for it */
body.fullscreen-enabled #titleBar{
  left: 40px;
}

body.fullscreen-enabled.mobile #titleBar {
  left: 20px;
  width: auto;

}

/* If there are multiple scenes the title bar must make space for the scene list toggle */
body.multiple-scenes #titleBar {
  left: 40px;
}

body.multiple-scenes.mobile #titleBar {
  left: 20px;
  width: auto;
}

#titleBar .sceneName {
  height: 100%;
  width: auto;
  font-size: 30px;
  padding: 5px;
  font-family: Arial;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mobile #titleBar .sceneName {
  height: 100%;
  width: auto;
  bottom: 10%;
  font-size: 20px;
  line-height: 30px;
}

#titleBar .gcuName {
  width: auto;
  height: 20%;
  font-size: 27px;
  line-height: 30px;
  padding: 5px;
  font-family: Arial;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mobile #titleBar .gcuName {
  height: 100%;
  width: auto;
  bottom: 5%;
  font-size: 20px;
  line-height: 30px;
}

#titleBar .gcuName:hover {
  font-weight: 500;
  color: rgb(0, 87, 165);
  text-shadow: 2px 2px 4px rgb(255, 255, 255); 
}

#fullscreenToggle {
  /* display: none;
  position: absolute;
  bottom: 55px;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; */
  position: absolute;
  top: 105px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(73, 80, 87);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
}

.mobile #fullscreenToggle {
  position: absolute;
  top: 105px;
  right: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}

#fullscreenToggle .icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;

}

.mobile #fullscreenToggle .icon {
  position: absolute;
  width: auto;
}

#fullscreenToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off {
  display: none;
}

#autorotateToggle {
  position: absolute;
  top: 57.5px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(73, 80, 87);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
}

.mobile #autorotateToggle {
  position: absolute;
  top: 55px;
  right: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
}

If there is a fullscreen button, autorotate must placed a bit to the left
body.fullscreen-enabled #autorotateToggle {
  right: 5px;
}

body.fullscreen-enabled.mobile #autorotateToggle {
  right: 5px;
}

#autorotateToggle .icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #autorotateToggle .icon {
  position: absolute;
  width: auto;
}

#autorotateToggle .icon.on {
  display: none;
}

#autorotateToggle .icon.off {
  display: block;
}

#autorotateToggle.enabled .icon.on {
  display: block;
}

#autorotateToggle.enabled .icon.off {
  display: none;
}

#autorotateToggle:hover, 
#fullscreenToggle:hover, 
#sceneListToggle:hover {
  background-color: rgb(0, 87, 165);  
}

#sceneListToggle {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: rgb(73, 80, 87);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;

}

.mobile #sceneListToggle {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
}


#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneListToggle .icon {
  position: absolute;
  width: auto;
}

#sceneListToggle .icon.on {
  display: none;
}

#sceneListToggle .icon.off {
  display: block;
}

#sceneListToggle.enabled .icon.on {
  display: block;
}

#sceneListToggle.enabled .icon.off {
  display: none;
}

#sceneList {
  position: fixed;
  top: 0px;
  right: -330px;
  padding-top: 0px;
  padding-left: 0px;
  width: 330px;
  height: 100%;
  transition: all 500ms linear;
  /* background-color: rgb(88, 88, 88); */
  /* background-color: rgba(21, 23, 25, 0.8); */
}

#sceneList .toggle-btn{
  position: absolute;
  right: 330px;
  top: 0px;
  width: auto;
}

#sceneList .active{
  position: fixed;
  top: 0px;
  right: -330px;
  padding-top: 0px;
  padding-left: 10px;
  width: 330px;
  height: 100%;
  transition: all 500ms linear;
}

#sceneList.enabled {
  margin-right: 330px;
}

#sceneList .heading{ 
  height: auto;
  position: relative;
  padding: 20px 40px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: narrower;
  background-color: rgb(52, 58, 64);
}

.mobile #sceneList .heading{ 
  height: 40px;
  height: auto;
  position: relative;
  padding: 15px 30px;
  font-size: 16px;
  font-stretch: narrower;
}

#sceneList .scenes {
    width: 100%;
    height: 100%;
    background-color: rgb(52, 58, 64);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    display: block;
}



.mobile #sceneList {
  /* position: fixed; */
  top: 0px;
  right: -330px;
  padding-top: 0px;
  padding-left: 0px;
  width: -250px;
  height: 100%;
  transition: all 500ms linear;
  /* background-color: rgba(21, 23, 25, 0.8); */

}
/* 
#sceneList .active{
  position: fixed;
  top: 0px;
  right: -200px;
  padding-top: 0px;
  padding-left: 10px;
  width: 200px;
  height: 100%;
  transition: all 500ms linear;
} */

.mobile #sceneList.enabled {
  margin-right: 250px;
}

/* #sceneList.enabled .scroll{
  overflow-y: scroll;
} */



.mobile #sceneList .scenes {
  width: 250px;
  height: 100%;
  /* padding-top: 20px; */
  /* background-color: rgb(36, 36, 36);
  background-color: rgba(36, 36, 36, 0.8); */
  overflow-x: hidden;
  overflow-y: auto;
	display: flex;
  align-items: flex-start;
  display: block;
}




#sceneList .scenes-sub{
  height: 40px;
  transition: all .3s;
  overflow-y: hidden;
  display: flex;
  align-items: flex-start;
  display: block;
}

.mobile #sceneList .scenes-sub{
  height: 35px;
  transition: all .3s;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  display: block;
}


#sceneList .scene {
  height: 35px;
  width: 100%;
  display: block;
  padding: 10px 45px;
  transition: all .25s;
  background: rgb(73, 80, 87);
}

.mobile #sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
  padding: 8px 20px;
  /* transition: all .25s; */
  font-size: 14px;
  /* background: rgb(127, 127, 127) */
}

#sceneList .scene:focus {
  background-color: rgba(0, 87, 165);
  font-weight: 400;
  box-shadow: inset 5px 0px 0px 0px #fff;
} 

#sceneList .title,
.title-toggle {
  display: block;
  height: 40px;
  width: 100%;
  text-align: left;
  display:inline-block;
  padding: 0px 12px;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: rgb(52, 58, 64);
  color: white;
  border-color: transparent   ;
  cursor: pointer;
  transition: all .25s;
}


#sceneList .title:focus {
  /* outline: 2px solid; */
  color: white;
}

.mobile #sceneList .title {
  display: block;
  height: 35px;
  padding: 10px 10px;
  font-size: 14px;
}

#sceneList .title:hover{
  text-shadow: 0px 0px 10px #fff;
  background-color: rgb(0, 87, 165);
}

#sceneList .title-sub {
  display: block;
  height: 40px;
  padding: 12px 20px;
  font-size: 16px;
  background: linear-gradient(rgb(52, 58, 64), rgb(73,80,87));
  /* background:  rgb(52, 58, 64); */
  cursor: pointer;
  transition: all .25s;
}

.mobile #sceneList .title-sub {
  display: block;
  height: 35px;
  padding: 8px 15px;
  font-size: 14px;

}




.icon-sub {
  height: 15px;
  width: 15px;
  /* margin: 5px; */
  transform: rotate(-90deg);
  transition: all 300ms;
}

.mobile .icon-sub {
  height: 15px;
  width: 15px;
  /* margin: 5px; */
  transform: rotate(-90deg);
  transition: all 300ms;
}

.no-touch #sceneList .scene:hover {
  background-color: rgb(0, 87, 165);
  box-shadow: inset 5px 0px 0px 0px #fff;
}

#sceneList .scene.current {
  background-color: rgba(0, 87, 165, 0.5);
  font-weight: 400;
  box-shadow: inset 5px 0px 0px 0px #fff;
}



/* Hide scene list when only a single scene exists */
body.single-scene #sceneList, body.single-scene #sceneListToggle {
  display: none;
}



/* MAPS MENU: 2. CAMPUS OUTSIDE AREAS */

.maps-toggle:hover,
.maps-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.maps:focus {
  color: rgba(0, 87, 165);  
}

.maps li {
    display: block;
    overflow: hidden;
}

.maps.active{
  display: block;
}

.maps-toggle + .maps {
  display: block; 
  height: 35px;
}

.maps-checkbox:checked + .maps{
    display: block;
    transition: all .3s; 
}

/* OUTDOORS MENU: 2. CAMPUS OUTSIDE AREAS */
.outdoors-toggle:hover,
.outdoors-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.outdoors:focus {
  color: rgba(0, 87, 165);  
}

.outdoors li {
    display: block;
    overflow: hidden;
}

.outdoors.active{
  display: block;
}

.outdoors-toggle + .outdoors {
  display: block; 
  height: 510px;
}

.outdoors-checkbox:checked + .outdoors {
    display: block;
    transition: all .3s; 
}

/* HAMISH MENU: 2. CAMPUS OUTSIDE AREAS */
.hamish-toggle:hover,
.hamish-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.hamish:focus {
  color: rgba(0, 87, 165);  
}


.hamish li {
    display: block;
    overflow: hidden;
}

.hamish.active{
  display: block;
}

.hamish-toggle + .hamish {
  display: block; 
  height: 540px;
}

.hamish-checkbox:checked + .hamish {
    display: block;
    transition: all .3s; 
}

/* GEORGE MENU: 2. CAMPUS OUTSIDE AREAS */
.george-toggle:hover,
.george-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.george:focus {
  color: rgba(0, 87, 165);  
}

.george li {
    display: block;
    overflow: hidden;
}

.george.active{
  display: block;
}

.george-toggle + .george {
  display: block; 
  height: 685px;
}

.george-checkbox:checked + .george {
    display: block;
    transition: all .3s; 
}

/* GEORGELAB MENU: 2. CAMPUS OUTSIDE AREAS */
.georgelab-toggle:hover,
.georgelab-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.georgelab:focus {
  color: rgba(0, 87, 165);  
}

.georgelab li {
    display: block;
    overflow: hidden;
}

.georgelab.active{
  display: block;
}

.georgelab-toggle + .georgelab {
  display: block; 
  height: 1005px;
}

.georgelab-checkbox:checked + .georgelab {
    display: block;
    transition: all .3s; 
}

/* CHARLES MENU: 2. CAMPUS OUTSIDE AREAS */
.charles-toggle:hover,
.charles-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.charles:focus {
  color: rgba(0, 87, 165);  
}

.charles li {
    display: block;
    overflow: hidden;
}

.charles.active{
  display: block;
}

.charles-toggle + .charles {
  display: block; 
  height: 910px;
}

.charles-checkbox:checked + .charles {
    display: block;
    transition: all .3s; 
}

/* GOVAN MENU: 2. CAMPUS OUTSIDE AREAS */
.govan-toggle:hover,
.govan-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.govan:focus {
  color: rgba(0, 87, 165);  
}

.govan li {
    display: block;
    overflow: hidden;
}

.govan.active{
  display: block;
}

.govan-toggle + .govan {
  display: block; 
  height: 1155px;
}

.govan-checkbox:checked + .govan {
    display: block;
    transition: all .3s; 
}

/* MILTON MENU: 2. CAMPUS OUTSIDE AREAS */
.milton-toggle:hover,
.milton-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.milton:focus {
  color: rgba(0, 87, 165);  
}

.milton li {
    display: block;
    overflow: hidden;
}

.milton.active{
  display: block;
}

.milton-toggle + .milton {
  display: block; 
  height: 215px;
}

.milton-checkbox:checked + .milton {
    display: block;
    transition: all .3s; 
}

/* LIBRARY MENU: 2. CAMPUS OUTSIDE AREAS */
.library-toggle:hover,
.library-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.library:focus {
  color: rgba(0, 87, 165);  
}

.library li {
    display: block;
    overflow: hidden;
}

.library.active{
  display: block;
}

.library-toggle + .library {
  display: block; 
  height: 435px;
}

.library-checkbox:checked + .library {
    display: block;
    transition: all .3s; 
}

/* STUDENT MENU: 2. CAMPUS OUTSIDE AREAS */
.student-toggle:hover,
.student-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.student:focus {
  color: rgba(0, 87, 165);  
}

.student li {
    display: block;
    overflow: hidden;
}

.student.active{
  display: block;
}

.student-toggle + .student {
  display: block; 
  height: 295px;
}

.student-checkbox:checked + .student {
    display: block;
    transition: all .3s; 
}

/* GYM MENU: 2. CAMPUS OUTSIDE AREAS */
.gym-toggle:hover,
.gym-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.gym:focus {
  color: rgba(0, 87, 165);  
}

.gym li {
    display: block;
    overflow: hidden;
}

.gym.active{
  display: block;
}

.gym-toggle + .gym {
  display: block; 
  height: 180px;
}

.gym-checkbox:checked + .gym {
    display: block;
    transition: all .3s; 
}

/* CEE MENU: 2. CAMPUS OUTSIDE AREAS */
.cee-toggle:hover,
.cee-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.cee:focus {
  color: rgba(0, 87, 165);  
}

.cee li {
    display: block;
    overflow: hidden;
}

.cee.active{
  display: block;
}

.cee-toggle + .cee {
  display: block; 
  height: 70px;
}

.cee-checkbox:checked + .cee {
    display: block;
    transition: all .3s; 
}

/* CALEY MENU: 2. CAMPUS OUTSIDE AREAS */
.caley-toggle:hover,
.caley-toggle:focus {
  background-color: rgba(0, 87, 165, 0.5);
}

.caley:focus {
  color: rgba(0, 87, 165);  
}

.caley li {
    display: block;
    overflow: hidden;
}

.caley.active{
  display: block;
}

.caley-toggle + .caley {
  display: block; 
  height: 40px;
}

.caley-checkbox:checked + .caley {
    display: block;
    transition: all .3s; 
}




/* old version */

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}

#sceneList .scenes-sub-sub{
  height: 40px;
  transition: all .3s;
  overflow: hidden;
}

.mobile #sceneList .scenes-sub-sub{
  height: 30px;
  transition: all .3s;
  overflow: hidden;
}

/* input:checked + li {
  height: 3150px;
  background-color: #585858;
  overflow-y: scroll;
} */

 /* map */
/* #map:checked + .scenes-sub {
  height: 75px;
} */

/* outdoor */

/* #outdoors:checked + .scenes-sub {
  height: 550px;

} */

#outdoors-sub1:checked + .scenes-sub-sub {
  height: 300px;
}

#outdoors-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#outdoors-sub2:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#outdoors-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#outdoors-sub3:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#outdoors-sub3:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}


/* hamish */

#hamish:checked + .scenes-sub {
  height: 400px;
  background-color: #585858;
}

#hamish-sub1:checked + .scenes-sub-sub {
  height: 320px;
  background-color: rgb(54,54,54);
}

#hamish-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#hamish-sub2:checked + .scenes-sub-sub {
 
  height: 215px;
  background-color: rgb(54,54,54);
}

#hamish-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* george */

#george:checked + .scenes-sub {
  height: 770px;
  background-color: #585858;
}

#george-sub1:checked + .scenes-sub-sub {
  height: 320px;
  background-color: rgb(54,54,54);
}

#george-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#george-sub2:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#george-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#george-sub3:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#george-sub3:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#george-sub4:checked + .scenes-sub-sub {
  height: 355px;
  background-color: rgb(54,54,54);
}

#george-sub4:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#george-sub5:checked + .scenes-sub-sub {
  height: 530px;
  background-color: rgb(54,54,54);
}

#george-sub5:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#george-sub6:checked + .scenes-sub-sub {
  height: 110px;
  background-color: rgb(54,54,54);
}

#george-sub6:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}



/* charles */

#charles:checked + .scenes-sub {
  height: 520px;
  background-color: #585858;
}

#charles-sub1:checked + .scenes-sub-sub {
  height: 145px;
  background-color: rgb(54,54,54);
}

#charles-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#charles-sub2:checked + .scenes-sub-sub {
  height: 110px;
  background-color: rgb(54,54,54);
}

#charles-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#charles-sub3:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#charles-sub3:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#charles-sub4:checked + .scenes-sub-sub {
  height: 145px;
  background-color: rgb(54,54,54);
}

#charles-sub4:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#charles-sub5:checked + .scenes-sub-sub {
  height: 320px;
  background-color: rgb(54,54,54);
}

#charles-sub5:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* govan */

#govan:checked + .scenes-sub {
  height: 485px;
  background-color: #585858;
}

#govan-sub1:checked + .scenes-sub-sub {
  height: 250px;
  background-color: rgb(54,54,54);
}

#govan-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#govan-sub2:checked + .scenes-sub-sub {
  height: 285px;
  background-color: rgb(54,54,54);
}

#govan-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#govan-sub3:checked + .scenes-sub-sub {
  height: 145px;
  background-color: rgb(54,54,54);
}

#govan-sub3:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#govan-sub4:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#govan-sub4:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#govan-sub5:checked + .scenes-sub-sub {
  height: 295px;
  background-color: rgb(54,54,54);
}

#govan-sub5:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* milton */

#milton:checked + .scenes-sub {
  height: 255px;
  background-color: #585858;
}

#milton-sub1:checked + .scenes-sub-sub {
  height: 215px;
  background-color: rgb(54,54,54);
}

#milton-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}


/* library */
#library:checked + .scenes-sub {
  height: 340px;
  background-color: #585858;
}

#library-sub1:checked + .scenes-sub-sub {
  height: 250px;
  background-color: rgb(54,54,54);
}

#library-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#library-sub2:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#library-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* student */
#student:checked + .scenes-sub {
  height: 260px;
  background-color: #585858;
}

#student-sub1:checked + .scenes-sub-sub {
  height: 180px;
  background-color: rgb(54,54,54);
}

#student-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

#student-sub2:checked + .scenes-sub-sub {
  height: 110px;
  background-color: rgb(54,54,54);
}

#student-sub2:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* gym */

#gym:checked + .scenes-sub {
  height: 220px;
  background-color: #585858;
}

#gym-sub1:checked + .scenes-sub-sub {
  height: 210px;
  background-color: rgb(54,54,54);
}

#gym-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* cee */
#cee:checked + .scenes-sub {
  height: 150px;
  background-color: #585858;
}

#cee-sub1:checked + .scenes-sub-sub {
  height: 140px;
  background-color: rgb(54,54,54);
}

#cee-sub1:checked + .scenes-sub-sub .icon-sub {
  transform: rotate(0deg);
}

/* caley */

#caley:checked + .scenes-sub {
  height: 75px;
}



/* Scrollbar (overflow) width */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar (overflow) Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white; 
  border-radius: 10px;
}
 
/* Scrollbar (overflow) Handle */
::-webkit-scrollbar-thumb {
  background: rgb(71, 129, 230); 
  border-radius: 10px;
}

/* Scrollbar (overflow) Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(64, 64, 172); 
}

.scroller{
  width: 10px;

}}



/* Style for sceneView */
#sceneView {
  position: absolute; 
  bottom: 10px; 
  left: 0; 
  margin-left: 35%;
  width: 30%;
  height: 50px;
  max-width: 30%; 
  /* background-color: rgb(233, 69, 69);  */
  -webkit-transition: margin-bottom 0.5s ease-in-out;
  transition: margin-bottom 0.5s ease-in-out;
}

.mobile #sceneView {
  margin-left: 25%;
}

.mobile #sceneView {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneView.enabled {
  margin-bottom: 100%;
}

#sceneView.enabled {
  margin-bottom: -50px;
  overflow: auto;
}


/* Hide scene list when only a single scene exists */
body.single-scene #sceneView, body.single-scene #sceneViewToggle {
  display: none;
}


/* Style for bottom bar id=sceneViewToggle */
#sceneViewToggle {
  position: absolute;
  top: 155px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color:rgba(71, 129, 230);
  background-color: rgba(71, 129, 230, 0.8);
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  border-radius: 5px;
}

.mobile #sceneViewToggle {
  position: absolute;
  top: 155px;
  right: 5px;
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* body.fullscreen-enabled #sceneViewToggle {
  display: block;
} */


#sceneViewToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #sceneViewToggle .icon {
  position: absolute;
  width: auto;
}

#sceneViewToggle .icon.on {
  display: none;
}

#sceneViewToggle .icon.off {
  display: block;
}

#sceneViewToggle.enabled .icon.on {
  display: block;
}

#sceneViewToggle.enabled .icon.off {
  display: none;
}

#sceneControl {
  position: absolute;
  bottom: 0px;
  right: 0px;
  /* padding-top: 40px; */
  width: -200px;
  max-height: -800px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
}

/* View control buttons */

.viewControlButton {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px; 
  border-radius: 20px;
  background-color: rgb(71, 129, 230);
  background-color: rgba(71, 129, 230, 0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

/* Hide controls when width is too small */
@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
}

.viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;

}

/* Center is at margin-left: -20px */
.viewControlButton-0 {
  margin-left: -195px;
}

.viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}



/**********************************************************/
/**********************************************************/
/**********************************************************/
/**********************************************************/

/* MapLink hotspot */

.maplink-hotspot {
  width: 60px;
  height: 80px;
  margin-left: -30px;
  margin-top: -50px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .maplink-hotspot:hover {
  opacity: 1;
  /* background-image: url('img/maplink_hover.png'); */
}

.mobile .maplink-hotspot {
  width: 50px;
  height: 50px;
}

.maplink-hotspot-icon {
  /* background-image: url('img/maplink.png'); */
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.maplink-hotspot-number {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;
  padding-bottom: 25px;
  /* top: 50%;
  left: 58%; */
  font-family: Arial;
  text-shadow: 0px 1px 0.5px rgb(70, 69, 69);
  font-size: 17px;
  color: rgb(71, 129, 230);
  font-weight: 700;
  /* transform: translate(-50%, -50%); */
  z-index: 999;
}

.maplink-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */
  margin-left: 3px;
  font-size: 16px;
  max-width: 300px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .maplink-hotspot {
  top: 0px; /*CHANGED TO 0px. It was 19px = ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .maplink-hotspot:hover .maplink-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.maplink-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .maplink-hotspot:hover .maplink-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .maplink-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .maplink-hotspot:hover .maplink-hotspot-tooltip {
  display: block;
}

/* Link hotspot */

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 50px;
  height: 50px;
}

.link-hotspot .link-hotspot-icon-wrapper {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: transparent;
  border-color: transparent;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px; /* ( 60 - (16 + 2*8) ) / 2 */
  margin-left: 3px;
  font-size: 16px;
  max-width: 300px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;

  opacity: 0;

  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);

  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      opacity 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              opacity 0.3s;
}

.mobile .link-hotspot {
  top: 0px; /*CHANGED TO 0px. It was 19px = ( 70 - (16 + 2*8) ) / 2 */
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/* Prevent tooltip from triggering */
.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

/* Fallback mode without pointer-events (IE8-10) */
.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

/* Info hotspot */

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(103,115,131);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 34px;
  height: 34px;
  border-radius: 20px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border-color: transparent;                  
}

/* .info-hotspot .button:focus-visible{
  background-color: transparent;
  border-color: transparent;
  border-radius: 20px;
} */

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 34px;
  height: 34px;
}


.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 260px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(78,88,104);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(58,68,84);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.visible .info-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0s;
}

/* Info hotspot modal */

.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgb(103,115,131);
  background-color: rgba(103,115,131,0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgb(78,88,104);
  background-color: rgba(78,88,104,0.8);
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgb(58,68,84);
  background-color: rgba(58,68,84,0.8);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}





/* Video hotspot */

.video-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .video-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.video-hotspot.visible {
  opacity: 1;
}

.video-hotspot .video-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color:  rgb(45, 88, 163, 0.8);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s,
                      border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s,
              border-radius 0.3s ease-in-out 0.5s;
}

.mobile .video-hotspot .video-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.desktop.no-touch .video-hotspot .video-hotspot-header:hover {
  width: 300px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.desktop .video-hotspot.visible .video-hotspot-header,
.desktop.no-touch .video-hotspot.visible .video-hotspot-header:hover {
  width: 300px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out,
                      border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out,
              border-radius 0.3s ease-in-out;
}

.video-hotspot .video-hotspot-icon-wrapper, .video-hotspot .video-hotspot-close-wrapper{
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
}

/* .video-hotspot .button:focus-visible{
  background-color: transparent;
  border-color: transparent;
  border-radius: 20px;
} */

.mobile .video-hotspot .video-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.video-hotspot .video-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.video-hotspot .video-hotspot-title-wrapper {
  position: absolute;
  left: 50px;
  top: 0;
  width: 0;
  height: 50px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.desktop .video-hotspot.visible .video-hotspot-title-wrapper,
.desktop.no-touch .video-hotspot .video-hotspot-header:hover .video-hotspot-title-wrapper {
  width: 300px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s,
                      padding 0s 0.4s;
  transition: width 0s 0.4s,
              padding 0s 0.4s;
}

.video-hotspot .video-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.video-hotspot .video-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.video-hotspot .video-hotspot-close-wrapper {
  position: absolute;
  left: 300px;
  top: 0;
  height: 50px;
  width: 50px;
  border-top-right-radius: 5px;
  background-color: rgb(0, 61, 165, 0.8);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0.6s;
}

.desktop .video-hotspot.visible .video-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0s;
}

.video-hotspot .video-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.video-hotspot .video-hotspot-text {
  position: absolute;
  width: 350px;
  height: 180px;
  max-height: 350px;
  top: 50px;
  left: 0;
  padding: 5px;
  background-color:  rgb(30, 61, 114, 0.8);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  /* overflow-y: auto; */
  visibility: hidden;
  /* rotate(90deg) causes transition flicker on Firefox 58 */
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s,
                      -webkit-transform 0.3s,
                      transform 0.3s,
                      visibility 0s 0.3s;
  transition: -ms-transform 0.3s,
              -webkit-transform 0.3s,
              transform 0.3s,
              visibility 0s 0.3s;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .video-hotspot.visible .video-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s,
                      -webkit-transform 0.3s 0.3s,
                      transform 0.3s 0.3s,
                      visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s,
              -webkit-transform 0.3s 0.3s,
              transform 0.3s 0.3s,
              visibility 0s 0s;
}

/* Video hotspot modal */

.desktop .video-hotspot-modal {
  display: none;
}

.video-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s,
                      visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s,
              visibility 0s 0.7s;
}

.video-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out,
                      visibility 0s 0s;
  transition: opacity 0.2s ease-in-out,
              visibility 0s 0s;
}

.video-hotspot-modal .video-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color:  rgb(45, 88, 163, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.video-hotspot-modal.visible .video-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.video-hotspot-modal .video-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.video-hotspot-modal .video-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.video-hotspot-modal .video-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.video-hotspot-modal .video-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.video-hotspot-modal .video-hotspot-title {
  display: inline-block;
  vertical-align: middle;

  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.video-hotspot-modal .video-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  background-color: rgb(0, 61, 165);
  background-color: rgb(0, 61, 165, 0.8);
  cursor: pointer;
  z-index: 9999;
}

.video-hotspot-modal .video-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.video-hotspot-modal .video-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color:  rgb(30, 61, 114, 0.8);
  /* overflow-y: auto; */
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.video-hotspot-modal.visible .video-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}
 
/* embed video */


.iframespot {
  background-color: rgba(48, 52, 56, 0.4);
  /* position: relative; */
  width: 340px;
  height: 170px;
  /* padding: 10px;  */
}

.mobuile .iframespot {
  background-color: rgba(48, 52, 56, 0.4);
  position: relative;
  width: 320px;
  height: 170px;
  padding: 10px; 
}

#adsense {
  background-color: #fff;
  color: #000;
}

.adsense-fallback {
  padding: 1em;
  position: absolute;
  top: 0;
  left: 0;
}
